.wrapper {
    @apply pt-[1.188rem] px-7;
};

// Upper Page Header
.upperHeader {
    @apply flex justify-between items-center  h-[4.875rem] px-2.5; 
};

.pageUpperTitle {
    @apply flex gap-[1.188rem] items-end;
};

.filters {
    @apply flex gap-[2.688rem] items-center;
};

// Vacancies block
.hhTitle {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1.25rem;
    justify-items: left;
    margin-bottom: 1.5rem;
};