@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #3B434E;
    --grey-light: #9A9898;
    --grey-dark: #787D85;
    --white: white;
    --primary: #086DFD;
    --primary-hover: #463295;
    --red: #DE0000;
    --orange: #FC836D;
    --green: #1DC37E;
    --green-light: #C8F8E4;
    --noto-sans: 'Noto Sans', sans-serif;

    /* wikipedia */
    --wk-dark-blue: #CFE3FF;
    --wk-blue-light: #F8F9FA;
}
